@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
:root{
    --dt-status-available-color: greenyellow;
    --dt-status-away-color: lightsalmon;
    --dt-status-offline-color:  lightgray;

    --dt-button-pagging:rgb(31, 37, 34);

    --dt-padding: 12px;
    --dt-padding-s: 6px;
    --dt-padding-xs: 2px;

    --dt-border-radius: 3px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow: auto; /*cambiar para tabla mas grande*/
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #373838, #2d3235); 
}
/*--------------------------------position and color background tricolor ----------------------------------*/
section .color{
    z-index: -1;
    position: fixed;
    filter: blur(150px);
}
section .color:nth-child(1){
    top: -350px;
    left: 100px;
    width: 800px;
    height: 600px;
    background: #79e646;
}
section .color:nth-child(2){
    bottom: -150px;
    left: 90px;
    width: 600px;
    height: 650px;
    background: #1c720b;
}
section .color:nth-child(3){
    bottom: 50px;
    right: 100px;
    width: 350px;
    height: 500px;
    background: #54dd04;
}
/*------------------------------------------------------------------------------------*/
/*--------------------------------------Search bar-----------------------------------------*/
.search_bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
    border: none;
    background-color: rgba(255, 255, 255, 0.185);
    border-radius: 10px;
    width: 80%;
    margin: 2rem;
    padding: 1rem;
    color: white;
}
.box_inputs{
    display: flex;
  justify-items: center;
}
.inputBox input{
    width: auto;
    background: rgb(255, 255, 255, 0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    margin: 0rem;
    border-radius: 35px;
    border: 1px solid rgb(255, 255, 255, 0.5);
    border-right: 1px solid rgb(255, 255, 255, 0.2);
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.05);
}

/*------------------------------------------------------------------------------------*/
.iconsTable{
    width: 20px;
    height: 20px;
}

.datatable_container{
    padding: 25px;
    margin-top: 1em;
    background-color: rgba(255, 255, 255, 0.253);
    box-shadow: 2px 2px 20px rgb(255, 255, 255);
}
/*----HEADER-------*/
.datatable_container .header_tools{
    display: flex;
    align-items: baseline;
    margin: 1em 0;
}
.datatable_container .header_tools .search{
    width: 30%;
}
.datatable_container .header_tools .search .search_input{
    width: 80%;
    background-color: transparent;
    display: block;
    box-sizing: content-box;
    border-radius: 5px;
    color: white;
}
.datatable_container .header_tools .tools{
    width: 70%;
    padding: 0.5em;
}
.datatable_container .header_tools .tools ul{
    display: flex;
    justify-content: start;
    align-items: baseline;
    list-style: none;
}

.datatable_container .header_tools .tools ul li{
   display: inline-block;
   align-items: baseline;
   margin: 0 10px;
}
/*------FOOTER-----*/
.datatable_container .footer_tools{
    display: flex;
    align-items: baseline;
}
.datatable_container .footer_tools .list_items{
    width: 50%;
    color: white;
    margin: 0;
}
.datatable_container .footer_tools .pages{
    margin: 0;
    width: 50%;
}
.datatable_container .footer_tools .pages ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
    list-style: none;
}
.datatable_container .header_tools .tools ul li button{
    background: rgb(255, 255, 255, 0.2);
    border: none;
    outline: none;
    padding: 0.5em 0.7em;
    margin: 0rem;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255, 0.5);
    border-right: 1px solid rgb(255, 255, 255, 0.2);
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
    font-size: 1em;
    color: #fff;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.05);
    cursor: pointer;
}

.datatable_container .footer_tools .pages ul li button{
    color: white;
    width: 100%;
    padding: 0.5em 1em;
    margin: 0;
    box-sizing: border-box;
    background: transparent;
    border: none;
    cursor: pointer;
}
.datatable_container .footer_tools .pages ul li button:hover{
    background: var(--dt-button-pagging);
    color: white;
}
.datatable_container .header_tools .tools ul li button:hover{
    box-shadow: 0 0 10px 0 rgba(9, 235, 58, 0.719) inset, 0 0 5px 4px rgb(70, 202, 109);
    transition: all 150ms ease-in-out;
}
.datatable_container .footer_tools .pages ul li button.active{
    background: var(--dt-button-pagging);
    color: white;
}
.datatable_container .MyNewDatatable tbody tr .available::after,
.datatable_container .MyNewDatatable tbody tr .away::after,
.datatable_container .MyNewDatatable tbody tr .offline::after{
    display: inline-block;
    vertical-align: middle;
}
.datatable_container .MyNewDatatable tbody tr .available::after{
    content: 'Online';
    color: var(--dt-status-available-color);
}
.datatable_container .MyNewDatatable tbody tr .away::after{
    content: 'Away';
    color: var(--dt-status-away-color);
}
.datatable_container .MyNewDatatable tbody tr .offline::after{
    content: 'Offline';
    color: var(--dt-status-offline-color);
}




/*--------------------------------------Table-----------------------------------------*/
table{
    border-collapse: collapse;
    width: 100%;
}
.MyNewDatatable{
    height: 300px;
    overflow: auto;
    border: 1px solid rgba(141, 240, 240, 0.5);
    border-right: 1px solid rgb(141, 240, 240, 0.4);
    border-bottom: 1px solid rgb(141, 240, 240, 0.4);
    background: transparent;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    text-align: left;
}
.MyNewDatatable thead th{
    top:0;
    color: whitesmoke;
    background-color: rgba(221, 221, 221, 0.2);
    text-align: left;
}

th, td{
    padding: var(--dt-padding-xs) var(--dt-padding-s);
}
tbody{
    color: rgb(255, 255, 255);
}
tr:hover td{
    color: rgb(166, 216, 218);
}
tr:nth-child(even){
    background-color: rgba(221, 221, 221, 0.2);
}
::-webkit-scrollbar{  
    width: 10px;
    background-color: white;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow:inset 0 0 6px rgba(0, 0, 0);
}
::-webkit-scrollbar-thumb{
    -webkit-box-shadow:inset 0 0 6px rgb(0, 0, 0);
    box-shadow:inset 0 0 6px rgb(0, 0, 0);
}

/*------------------------------------------------------------------------------------*/


